<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div class="footer">
        <div class="navbarf">
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Copy right</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Help Links</a></li>
                </ul>
            </nav>   
        </div>
    </div>
</body>
</html>
