<!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 
  Author: Nguyen Tung Bao Thach (s3929174), Van Duc Tri (s3978233), Nguyen Duong Truong Thinh (s3914412)
  /* Acknowledgement: Acknowledge the resources that you use show in the report. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer class="footer">
        <div class="box-container">
          <div class="box">
            <h2>Quick Links</h2>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Products</a>
            <a href="#">Review</a>
            <a href="#">Contact</a>
          </div>
    
          <div class="box">
            <h2>Extra Links</h2>
            <a href="#">My account</a>
            <a href="#">My order</a>
            <a href="#">My favorite</a>
          </div>
    
          <div class="box">
            <h2>Locations</h2>
            <a href="#">India</a>
            <a href="#">USA</a>
            <a href="#">Japan</a>
            <a href="#">France</a>
          </div>
    
          <div class="box">
            <h2>Contact Info</h2>
            <a href="#">+84123-456-7890</a>
            <a href="#">randomgroup8@gmail.com</a>
            <a href="#">HCM, Vietnam - 1234567</a>
            <img src="img/payment.png" alt="" />
          </div>
        </div>
    
        <div class="credit">
          Created by Random Group 8 | All Rights Reserved
        </div>
    </footer>   
</body>
</html>
