<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Bar</title>
    <link rel="stylesheet" href="/css/searchbar.css">
</head>
<body>
    <div class="topnav">
        <input type="text" class="search-click" name="search-bar" placeholder="Search here..." />
        <button type="submit"><img src="#"></button>                                          
    </div>
</body>
</html>