<!-- RMIT University Vietnam
    Course: COSC2430 Web Programming
    Semester: 2023A
    Assessment: Assignment 
    Author: Nguyen Tung Bao Thach (s3929174), Van Duc Tri (s3978233), Nguyen Duong Truong Thinh (s3914412)
    /* Acknowledgement: Acknowledge the resources that you use show in the report. -->
    
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/vendor/add-product.css">
    <title>Vendor</title>
</head>
<body>
    <%- include ('partials/header')%>
    <!--Body-->
    <form action="/api/product" method="POST" id="add_product">
        <h1>Add Product</h1>
        <input type="text" id="product-name" placeholder="product name" name='product_name'required>
        <textarea id="des" placeholder="detail description" name="product_description"></textarea>

    <!-- product image -->
    <div class="product-info">
        <div class="product-image"><p class="text">product image</p></div>
        <div class="upload-image-sec">
            <!-- upload inputs -->
            <p class="text"><img src="img/camera.png" alt="">upload image</p>
            <div class="upload-catalouge">
                <input type="file" class="fileupload" id="first-file-upload-btn" name='product_image' hidden>
                <label for="first-file-upload-btn" class="upload-image"></label>
                <input type="file" class="fileupload" id="second-file-upload-btn" name='product_image' hidden>
                <label for="second-file-upload-btn" class="upload-image"></label>
                <input type="file" class="fileupload" id="third-file-upload-btn" name='product_image' hidden>
                <label for="third-file-upload-btn" class="upload-image"></label>
                <input type="file" class="fileupload" id="fourth-file-upload-btn" name='product_image' hidden>
                <label for="fourth-file-upload-btn" class="upload-image"></label>
            </div>
        </div>
    </div>
    <div class="product-price">
        <input type="number" id="sell-price" placeholder="selling price" required name='product_price'>
    </div>

    <input type="number" id="stock" min="20" placeholder="item in stocks (minimum 20)" name='product_stock' required>

    <select name="category" id="tags" required>
        <option value="Phones">Phones</option>
        <option value="Watches">Watches</option>
        <option value="Toys">Toys</option>
    </select>
    <div class="buttons">
        <button class="btn" type="submit" id="save-btn">Add Product</button>
    </div>
    </form>
</body>
</html>