<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./css/add-to-cart.css">
    <title>Shipper Page</title>
</head>

<body>
    <!-- Header  -->
    <%- include ('partials/header')
    <!-- Body -->
    <section class="items" id="items">
        <h2 class="title">Our Products</h2>
  
        <div class="box-container">
          <div class="box">
            <div class="image">
              <img src="./images/greyshirt.jpeg" alt="" />
              <div class="icons">
                <a href="#" class="fa-solid fa-heart"></a>
                <a href="#" class="cart-btn">add to cart</a>
                <a href="#" class="fa-solid fa-share"></a>
              </div>
            </div>
            <div class="text">
              <h3>Iphone 14</h3>
              <div class="price">$999.00</div>
            </div>
          </div>
  
          <div class="box">
            <div class="image">
              <img src="" alt="" />
              <div class="icons">
                <a href="#" class="fa-solid fa-heart"></a>
                <a href="#" class="cart-btn">add to cart</a>
                <a href="#" class="fa-solid fa-share"></a>
              </div>
            </div>
            <div class="text">
              <h3>Iphone 14 Pro</h3>
              <div class="price">$1099.00</div>
            </div>
          </div>
  
          <div class="box">
            <div class="image">
              <img src="" alt="" />
              <div class="icons">
                <a href="#" class="fa-solid fa-heart"></a>
                <a href="#" class="cart-btn">add to cart</a>
                <a href="#" class="fa-solid fa-share"></a>
              </div>
            </div>
            <div class="text">
              <h3>Iphone 14 promax</h3>
              <div class="price">$1299.00</div>
            </div>
          </div>
  
          <div class="box">
            <div class="image">
              <img src="" alt="" />
              <div class="icons">
                <a href="#" class="fa-solid fa-heart"></a>
                <a href="#" class="cart-btn">add to cart</a>
                <a href="#" class="fa-solid fa-share"></a>
              </div>
            </div>
            <div class="text">
              <h3>Pink Shirt</h3>
              <div class="price">$12.00</div>
            </div>
          </div>
  
          <div class="box">
            <div class="image">
              <img src="" alt="" />
              <div class="icons">
                <a href="#" class="fa-solid fa-heart"></a>
                <a href="#" class="cart-btn">add to cart</a>
                <a href="#" class="fa-solid fa-share"></a>
              </div>
            </div>
            <div class="text">
              <h3>Polo Shirt</h3>
              <div class="price">$12.00</div>
            </div>
          </div>
  
          <div class="box">
            <div class="image">
              <img src="" alt="" />
              <div class="icons">
                <a href="#" class="fa-solid fa-heart"></a>
                <a href="#" class="cart-btn">add to cart</a>
                <a href="#" class="fa-solid fa-share"></a>
              </div>
            </div>
            <div class="text">
              <h3>White Shirt</h3>
              <div class="price">$12.00</div>
            </div>
          </div>
        </div>
      </section>


    <!-- Footer -->
    
    <%- include ('partials/footer')%>   
        <script src="public/js/cart.js"></script>
        <script src="public/js/script.js"></script>
</body>
</html>