<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/cart.css">
    <title>Cart Page</title>
</head>

<body>
    <!-- Header  -->
    <%- include ('partials/header')
    <!-- Body -->
    <div class="cart-container">
        <h2>Shopping Cart</h2>
        <div class="cart">
          <div class="items">
            <div class="item">
              <img src="/public/img/pro1.png" alt="" />
              <div class="item-info">
                <h3 class="name">iPhone 14 Pro Max</h3>
                <h2 class="price">$1099</h2>
                <p class="quantity">Number of Orders:<input value="1" name="" /></p>
                <p class="item-remove">
                  <i class="fa-solid fa-trash-can"></i>
                  <span class="remove">Remove</span>
                </p>
              </div>
            </div>
          </div>
          <div class="cart-total">
            <a href="#">Proceed to Checkout</a>
          </div>
        </div>
      </div>



    <!-- Footer -->
    
    <%- include ('partials/footer')%>  
</body>
</html>