<!-- RMIT University Vietnam
    Course: COSC2430 Web Programming
    Semester: 2023A
    Assessment: Assignment 
    Author: Nguyen Tung Bao Thach (s3929174), Van Duc Tri (s3978233), Nguyen Duong Truong Thinh (s3914412)
    /* Acknowledgement: Acknowledge the resources that you use show in the report. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .addItemIcon {
    position: fixed;
    right: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}
.addItemIcon img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 50px;

}
.col-2 img{
    max-width: 100%;
    padding:50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
    </style>
    <title>Lazada</title>
</head>
<body>
    <%- include ('partials/header')%>
<!-- Display products -->
<!-- Add Products -->
<div class="addItemIcon">
    <a href="/add-product">
    <img src="/img/productsell.jpg" alt="shoppingcart">
    </a>
</div>
<div class="row">
    <div class="col-2">
        <h1> Full-stack website<br>Welcome to our website</h1>
        <p>s3929174 Nguyen Tung Bao Thach<br>s3978233 Van Tri Duc<br>s3914412 Nguyen Duong Truong Thinh</p>
        <p>s3929174 Nguyen Tung Bao Thach<br>s3978233 Van Duc Tri<br>s3914412 Nguyen Duong Truong Thinh</p>
        <a href="/add-to-cart" class="btn">Explore Now</a>
    </div>
    <div class="col-2">
        <img src="/img/pro1.png" alt="product1">
    </div>
</div>
</div>
  <!-- Footer -->
    <%- include ('partials/footer')%>
</body>
</html>
