<!-- RMIT University Vietnam
    Course: COSC2430 Web Programming
    Semester: 2023A
    Assessment: Assignment 
    Author: Nguyen Tung Bao Thach (s3929174), Van Duc Tri (s3978233), Nguyen Duong Truong Thinh (s3914412)
    /* Acknowledgement: Acknowledge the resources that you use show in the report. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lazada</title>
</head>
<body>
    <%- include ('partials/header')%>
<!-- Add Products -->
<div class="addItemIcon">
    <a href="/add-product">
    <img src="/img/productsell.jpg" alt="shoppingcart">
    </a>
</div>
  <!-- Footer -->
    <%- include ('partials/footer')%>
</body>
</html>
