<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <%- include ('partials/header')%>
    <div class="wrapper-login">
        <div class="from-box-login">
            <h1>Login</h1>
            <form name="login" onsubmit="return validateForm() ;" method="post">
                <div class="input">
                    <ul>
                        <li>Username: <input class="username" type="text" name="username"></li>
                        <br>
                        <li>Password: <input class="password" type="password" name="password"></li>
                    </ul>
                </div>
                <br>
                <input type="button" class="submit" value="Log In" name="submit"  onclick="validate()">
                <p>Don't have an account <a href="register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="/public/js/login.js"></script>
    <%- include ('partials/footer')%>
</body>
</html>