<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%- include ('partials/header')%>
    <div class="wrapper-register">
		<div class="from-box-register">
			<h1>Register</h1>
			<div class="input-register">
				<ul class='input-in4'>
					<li>Name: <input type="text" placeholder="Enter Your Name" name="name" required></li>
					<li>Contact Number: <input type="text" placeholder="Enter Your Contact No." name="number" required></li>
					<li>Email: <input type="text" placeholder="Enter Your E-mail" name="email" required></li>
					<li>Password: <input type="password" placeholder="Enter Your Password" name="psw" required></li>
					<li>Repeat Password: <input type="password" placeholder="Repeat Your Password" name="psw-repeat" required></li>
				</ul>
				
				<button type="submit" class="registerbutton">Register</button>

				<p>By creating an account you agree to our <br>
					<a href="#">Terms & Privacy</a>.
				</p>

			</div>
		</div>
    </div>
	<br>
    <%- include ('partials/footer')%>
</body>
</html>