<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="shipper.css">
    <title>Shipper Page</title>
</head>

<body>
    <!-- Header  -->
    <%- include ('partials/header')
    <!-- Body -->
    <div class="cart-container">
        <h2>Shopping Cart</h2>
        <div class="cart">
          <div class="items">
            <div class="item">
              <img src="./images/img-5.jpg" alt="" />
              <div class="item-info">
                <h3 class="name">Shoes</h3>
                <h2 class="price">$100</h2>
                <h2 class="offer">15%</h2>
                <p class="quantity">Number of Orders:<input value="1" name="" /></p>
                <p class="item-remove">
                  <i class="fa-solid fa-trash-can"></i>
                  <span class="remove">Remove</span>
                </p>
              </div>
            </div>
          </div>
          <div class="cart-total">
            <p>
              <span>Total Price</span>
              <span>2</span>
            </p>
            <p>
              <span>Number of Items</span>
              <span>2</span>
            </p>
            <p>
              <span>You Save</span>
              <span>$100</span>
            </p>
            <a href="#">Proceed to Checkout</a>
          </div>
        </div>
      </div>



    <!-- Footer -->
    
        <section class="footer">
            <div class="box-container">
              <div class="box">
                <h2>Quick Links</h2>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Products</a>
                <a href="#">Review</a>
                <a href="#">Contact</a>
              </div>
        
              <div class="box">
                <h2>Extra Links</h2>
                <a href="#">My account</a>
                <a href="#">My order</a>
                <a href="#">My favorite</a>
              </div>
        
              <div class="box">
                <h2>Locations</h2>
                <a href="#">India</a>
                <a href="#">USA</a>
                <a href="#">Japan</a>
                <a href="#">France</a>
              </div>
        
              <div class="box">
                <h2>Contact Info</h2>
                <a href="#">+123-456-7890</a>
                <a href="#">example@gmail.com</a>
                <a href="#">Mumbai, Mndia - 400104</a>
                <img src="img/payment.png" alt="" />
              </div>
            </div>
        
            <div class="credit">
              Created by <span> Random Group 8 </span> | All Rights Reserved
            </div>
          </section>
    

                
</body>
</html>