<!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 
  Author: Nguyen Tung Bao Thach (s3929174), Van Duc Tri (s3978233), Nguyen Duong Truong Thinh (s3914412)
  /* Acknowledgement: Acknowledge the resources that you use show in the report. -->
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/shipper.css">
    <title>Cart Page</title>
</head>

<body>
    <!-- Header  -->
    <%- include ('partials/header')
    <!-- Body -->
    <div class="cart-container">
        <h2>Delivery</h2>
        <div class="cart">
          <div class="items">
            <div class="item">
              <img src="/public/img/pro1.png" alt="white-shirt" />
              <div class="item-info">
                <h3 class="name">Customer: Peter Pan</h3>
                <h3 class="price">Address: 702 Nguyen Van Linh, Tan Hung, District 7, HCM City</h3>
                <h3 class="offer">Phone: 09123456789</h3>
                <h3 class="offer">Total: 1099 </h3>
                <p class="quantity">Qnt:<input value="1" name="white-shirt" /></p>
                <p class="item-remove">
                    <span class="remove" >Check Now</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="cart-container">
        <h2>Delivery</h2>
        <div class="cart">
          <div class="items">
            <div class="item">
              <img src="/public/img/pro2.png" alt="white-shirt" />
              <div class="item-info">
                <h3 class="name">Customer: Peter Pan</h3>
                <h3 class="price">Address: 702 Nguyen Van Linh, Tan Hung, District 7, HCM City</h3>
                <h3 class="offer">Phone: 09123456789</h3>
                <h3 class="offer">Total: 1099</h3>
                <p class="quantity">Qnt:<input value="1" name="white-shirt" /></p>
                <p class="item-remove">
                    <span class="remove" >Check Now</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="cart-container">
        <h2>Delivery</h2>
        <div class="cart">
          <div class="items">
            <div class="item">
              <img src="/public/img/pro3.png" alt="white-shirt" />
              <div class="item-info">
                <h3 class="name">Customer: Peter Pan</h3>
                <h3 class="price">Address: 702 Nguyen Van Linh, Tan Hung, District 7, HCM City</h3>
                <h3 class="offer">Phone: 09123456789</h3>
                <h3 class="offer">Total: 1099 </h3>
                <p class="quantity">Qnt:<input value="1" name="white-shirt" /></p>
                <p class="item-remove">
                    <span class="remove" >Check Now</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>



    <!-- Footer -->
    
    <%- include ('partials/footer')%>
</body>
</html>