<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/vendor/vendor.css">
    <title>Vendor Page</title>
</head>
<body>
    <!--Header-->
    <%- include ('partials/header')%>
    <!--View Product-->
    <button>
        <a href="/view-products">View My Products</a>
    </button>
    <!--Add Product -->
    <div class="addItemIcon">
        <a href="/add-product">
        <img src="/img/productsell.jpg" alt="shoppingcart">
        </a>
    </div>
    <!--Footer-->
    <div>
    <%- include ('partials/footer')%>
    </div>
</body>
</html>
