<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/vendor.css">
    <title>Vendor Page</title>
</head>
<body>
    <!--Header-->
    <%- include ('partials/header')%>
    <!--Body-->
    <div class="viewproduct">
        <button>
            <a href="/products">View My Products</a>
        </button>
    </div>
    <div class="addItemIcon">
        <a href="/product/new">
        <img src="imgforvendor/productsell.jpg" alt="shoppingcart">
        </a>
    </div>
    <!--Footer-->
    <%- include ('partials/footer')%>
</body>
</html>