/* <!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 
Author: Nguyen Tung Bao Thach (s3929174), Van Duc Tri (s3978233), Nguyen Duong Truong Thinh (s3914412)
/* Acknowledgement: Acknowledge the resources that you use show in the report. --> */ 

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Poppins',sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{
    display: inline-block ;
    line-height: 80px;
    margin: 0 5px;
}
.navbar ul li a{
    font-size: 17px;
    padding: 7px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}
 .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(206, 95, 10); 
    transition: .5s;
}

.cart-container {
    max-width: 500px;
    margin: 10rem auto;
}
  
  .cart-container > h1 {
    padding: 20px 0;
}
  
.cart {
    display: flex;
    margin-bottom: 2rem;
}
  
.items {
    flex: 0.75;
}
  
.item {
    display: flex;
    width: 100%;
    height: 230px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 2rem;
}
  
.item:hover {
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}
  
.item > img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
  
.item > img:hover {
    transform: scale(1.04);
}
  
.item-info {
    padding: 20px;
    width: 100%;
    position: relative;
}
  
.name,
.price,
.offer {
    margin-bottom: 20px;
}
  
.item-remove {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: rgb(102, 0, 128);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
  
.item-remove:hover {
    background-color: white;
    color: rgb(167, 98, 231);
    font-weight: 600;
    border: 1px solid rgb(138, 54, 206);
}
  
.quantity > input {
    width: 40px;
    padding: 5px;
    text-align: center;
}
  
.cart-total {
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}
  
.cart-total p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
  
.cart-total a {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: tomato;
    color: white;
    text-decoration: none;
}
  
.cart-total a:hover {
    background-color: red;
}

.footer{
    font-size: 10px;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    font-size: 10px;
    flex:1 1 25rem;
}

.footer .box-container .box h2{
    color:#333;
    font-size: 30px;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 15px;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--pink);
}

  @media screen and (max-width: 768px) {
  
    .item {
      height: 200px;
      margin-bottom: 2rem;
    }
  
    .item > img {
      height: 150px;
      width: 200px;
    }
  
    .name,
    .price,
    .offer {
      margin-bottom: 5px;
    }
  
  
  }
  
  @media screen and (max-width: 1023px) {
    .cart {
      flex-direction: column;
      height: 200px;
    }
  
    .cart-total {
      margin-left: 0;
      margin-bottom: 5px;
    }
  
    .cart-container{
      height: 400px;
    }
   
   
  }
  
  @media screen and (min-width: 1024px) {
    .cart-container {
      max-width: 95%;
      margin: 10rem auto;
    }
  }
  