*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    margin-top: 300px;
    margin-left: 20px;
  }
  
  .footer .box-container .box {
    flex: 25%;
  }
  
  .footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a {
    display: block;
    color: #272525;
    font-size: 15px;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a:hover {
    text-decoration: underline;
  }
  
  .footer .box-container .box img {
    margin-top: 1rem;
  }
  
  .footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 20px;
    color: #333;
    border-top: 0.1rem solid black;
    padding-bottom: 50px;
  }
  
  .footer .credit span {
    color: var(--pink);
  }