/* <!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 
Author: Nguyen Tung Bao Thach (s3929174), Van Duc Tri (s3978233), Nguyen Duong Truong Thinh (s3914412)
/* Acknowledgement: Acknowledge the resources that you use show in the report. --> */ 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: white;
  width: 100%;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
  padding: 7px 10px;
  border-radius: 10px;
}
a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}
.container{
  max-width: 100%;
  margin: auto;
}
.navbar ul li:hover{
  background: white;
}
.navbar ul li:active{
  background-color: red;
}
input.search-click{
  display: hidden;
}
#search-icon {
  background-color: bisque;
  border-radius: 50%;
  cursor: pointer;
}