*{
	list-style: none;
	box-sizing: border-box;
    text-decoration: none;
	font-family: 'Poppins',sans-serif;
}
.wrapper-login{position: relative;
	padding: 5px;
    border: 2px solid #F07334;
    width: 25%;
    text-align: center;
	margin: auto;
    border-radius: 12px;
    background-color: white;
    padding-bottom: 10px;
    -webkit-box-shadow: 3px 0px 10px 0px black;
    -moz-box-shadow: 3px 0px 10px 0px black;
    box-shadow: 3px 0px 10px 0px black;
}
.input{
	border-radius: 12px;
	font-family: "Arial";
	font-size: 18px;
	text-align: center;
}
.submit {
	background-color: transparent;
	color: black;
	border: 1px solid black;
	border-radius: 12px;
	width: 50%;
	font-family: "Aria";
	font-size: 18px;
	text-align: center;;
}

.submit:hover {
	background-color: #F07334;
}

.password, .username {
width: 50%
} 