/* <!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 
Author: Nguyen Tung Bao Thach (s3929174), Van Duc Tri (s3978233), Nguyen Duong Truong Thinh (s3914412)
/* Acknowledgement: Acknowledge the resources that you use show in the report. --> */ 

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
/* body{
    background-color: #081b29;
} */
.addItemIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    background-color: orange;
}
.addItemIcon img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

