/* <!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 
Author: Nguyen Tung Bao Thach (s3929174), Van Duc Tri (s3978233), Nguyen Duong Truong Thinh (s3914412)
/* Acknowledgement: Acknowledge the resources that you use show in the report. --> */ 

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
/* body{
    background-color: #081b29;
} */

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    display: inline-block ;
    line-height: 80px;
    margin: 0 5px;
}
.navbar ul li a{
    font-size: 17px;
    padding: 7px 10px;
    border-radius: 3px;
}
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
.dropdown .dropbtn {
    outline: none;
    background-color: inherit;
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(243, 113, 13); 
  }
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 16px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: rgba(15, 8, 227, 0.92);
    text-decoration: none;
    display:inline;
    text-align: left;
    background-color: white;
  }
  
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(244, 109, 6); 
  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

.Category{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
        
}


.fontcategory{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    background-color:#7a3411 ;
    font-family: 'Apple Chancery', sans-serif ;
    color: white;
}


.product{
    width: 250px;
    border: 3px;
    border-color: #000000;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border-style: solid;
    background-color: #ffffff;
}


h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    white-space: pre;
    color: white;
}



.linktext{
    width: fit-content;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
}

/* Footer */
/* .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: white;
    height: 60px;
    padding: 0 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
}

.footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer li {
    margin-right: 20px;
    font-size: 18px;
}  */
.addItemIcon {
    position: fixed;
    right: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}
.addItemIcon img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

