<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer class = footer>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Copy right</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Help Links</a></li>
        </ul>
        </footer>
</body>
</html>